@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

* {
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #161616;
}

.buttonBackground {
    background-color: #212121;
    background: repeating-linear-gradient(
        -45deg,
        #363636,
        #363636 1rem,
        #212121 1rem,
        #212121 2rem
    );
}
